# 入门Pandas

In [2]:
import numpy as np
import pandas as pd

## 生成对象

1、用值列表生成 Series 时，Pandas 默认自动生成整数索引：

In [3]:
s = pd.Series([1,2,4,5,np.nan,6,8])

In [4]:
s

0    1.0
1    2.0
2    4.0
3    5.0
4    NaN
5    6.0
6    8.0
dtype: float64

2、用含日期时间索引与标签的 NumPy 数组生成 DataFrame：

In [5]:
dates = pd.date_range('2020-8-21',periods=6)

In [6]:
dates

DatetimeIndex(['2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24',
               '2020-08-25', '2020-08-26'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2020-08-21  1.269585 -0.794721  1.675741 -1.404604
2020-08-22 -0.747461  0.057506 -0.387810  0.494737
2020-08-23 -0.113364  0.525638  1.520566 -0.587822
2020-08-24  0.218810  1.216046 -1.189180 -0.177003
2020-08-25 -1.381115  0.004240 -0.932394 -0.946310
2020-08-26 -1.171892  0.443317 -1.470521 -0.914165

### 3、用 Series 字典对象生成 DataFrame:

In [9]:
df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20200821'),
                    'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D':np.array([3] * 4, dtype='int32'),
                    'E':pd.Categorical(["test", "train", "test", "train"]),
                    'F':'foo'})

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2020-08-21  1.0  3   test  foo
1  1.0 2020-08-21  1.0  3  train  foo
2  1.0 2020-08-21  1.0  3   test  foo
3  1.0 2020-08-21  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## 查看数据

下列代码说明如何查看 DataFrame 头部和尾部数据

In [12]:
df2.head()

     A          B    C  D      E    F
0  1.0 2020-08-21  1.0  3   test  foo
1  1.0 2020-08-21  1.0  3  train  foo
2  1.0 2020-08-21  1.0  3   test  foo
3  1.0 2020-08-21  1.0  3  train  foo

In [13]:
df.tail(3)

                   A         B         C         D
2020-08-24  0.218810  1.216046 -1.189180 -0.177003
2020-08-25 -1.381115  0.004240 -0.932394 -0.946310
2020-08-26 -1.171892  0.443317 -1.470521 -0.914165

显示索引与列名：

In [14]:
df.index

DatetimeIndex(['2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24',
               '2020-08-25', '2020-08-26'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [17]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

DataFrame.to_numpy() 输出底层数据的 NumPy 对象。注意，DataFrame 的列由多种数据类型组成时，该操作耗费系统资源较大，这也是 Pandas 和 NumPy 的本质区别：NumPy 数组只有一种数据类型，DataFrame 每列的数据类型各不相同。调用 DataFrame.to_numpy() 时，Pandas 查找支持 DataFrame 里所有数据类型的 NumPy 数据类型。还有一种数据类型是 object，可以把 DataFrame 列里的值强制转换为 Python 对象。

下面的 df 这个 DataFrame 里的值都是浮点数，DataFrame.to_numpy() 的操作会很快，而且不复制数据。

In [18]:
 df.to_numpy()

array([[ 1.26958516, -0.79472057,  1.67574133, -1.40460429],
       [-0.74746146,  0.05750621, -0.38780963,  0.49473685],
       [-0.11336418,  0.52563771,  1.5205663 , -0.58782245],
       [ 0.21880985,  1.21604587, -1.18918043, -0.177003  ],
       [-1.38111457,  0.00424028, -0.93239389, -0.94630987],
       [-1.1718917 ,  0.44331748, -1.47052065, -0.91416529]])

df2 这个 DataFrame 包含了多种类型，DataFrame.to_numpy() 操作就会耗费较多资源。

In [19]:
df2.to_numpy()

array([[1.0, Timestamp('2020-08-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-08-21 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-08-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-08-21 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

> 提醒  
> DataFrame.to_numpy() 的输出不包含行索引和列标签。

describe() 可以快速查看数据的统计摘要：

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.320906  0.242004 -0.130599 -0.589195
std    0.989363  0.668596  1.386667  0.669752
min   -1.381115 -0.794721 -1.470521 -1.404604
25%   -1.065784  0.017557 -1.124984 -0.938274
50%   -0.430413  0.250412 -0.660102 -0.750994
75%    0.135766  0.505058  1.043472 -0.279708
max    1.269585  1.216046  1.675741  0.494737

In [21]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

转置数据：

In [22]:
df.T

   2020-08-21  2020-08-22  2020-08-23  2020-08-24  2020-08-25  2020-08-26
A    1.269585   -0.747461   -0.113364    0.218810   -1.381115   -1.171892
B   -0.794721    0.057506    0.525638    1.216046    0.004240    0.443317
C    1.675741   -0.387810    1.520566   -1.189180   -0.932394   -1.470521
D   -1.404604    0.494737   -0.587822   -0.177003   -0.946310   -0.914165

In [23]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2020-08-21 00:00:00,2020-08-21 00:00:00,2020-08-21 00:00:00,2020-08-21 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

按轴排序：

In [24]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-08-21 -1.404604  1.675741 -0.794721  1.269585
2020-08-22  0.494737 -0.387810  0.057506 -0.747461
2020-08-23 -0.587822  1.520566  0.525638 -0.113364
2020-08-24 -0.177003 -1.189180  1.216046  0.218810
2020-08-25 -0.946310 -0.932394  0.004240 -1.381115
2020-08-26 -0.914165 -1.470521  0.443317 -1.171892

按值排序：

In [25]:
df.sort_values(by='B')

                   A         B         C         D
2020-08-21  1.269585 -0.794721  1.675741 -1.404604
2020-08-25 -1.381115  0.004240 -0.932394 -0.946310
2020-08-22 -0.747461  0.057506 -0.387810  0.494737
2020-08-26 -1.171892  0.443317 -1.470521 -0.914165
2020-08-23 -0.113364  0.525638  1.520566 -0.587822
2020-08-24  0.218810  1.216046 -1.189180 -0.177003

## 选择

> 提醒

> 选择、设置标准 Python / Numpy 的表达式已经非常直观，交互也很方便，  
但对于生产代码，我们还是推荐优化过的 Pandas 数据访问方法：.at、.iat、.loc 和 .iloc

### 1、 获取数据

选择单列，产生 Series，与 df.A 等效：

In [26]:
df['A']

2020-08-21    1.269585
2020-08-22   -0.747461
2020-08-23   -0.113364
2020-08-24    0.218810
2020-08-25   -1.381115
2020-08-26   -1.171892
Freq: D, Name: A, dtype: float64

### 2、用 [ ] 切片行：

In [27]:
df[0:3]

                   A         B         C         D
2020-08-21  1.269585 -0.794721  1.675741 -1.404604
2020-08-22 -0.747461  0.057506 -0.387810  0.494737
2020-08-23 -0.113364  0.525638  1.520566 -0.587822

In [28]:
 df['20200821':'20200823']

                   A         B         C         D
2020-08-21  1.269585 -0.794721  1.675741 -1.404604
2020-08-22 -0.747461  0.057506 -0.387810  0.494737
2020-08-23 -0.113364  0.525638  1.520566 -0.587822

### 3、按标签选择

用标签提取一行数据：

In [29]:
df.loc[dates[0]]

A    1.269585
B   -0.794721
C    1.675741
D   -1.404604
Name: 2020-08-21 00:00:00, dtype: float64

用标签选择多列数据：

In [30]:
df.loc[:, ['A', 'B']]

                   A         B
2020-08-21  1.269585 -0.794721
2020-08-22 -0.747461  0.057506
2020-08-23 -0.113364  0.525638
2020-08-24  0.218810  1.216046
2020-08-25 -1.381115  0.004240
2020-08-26 -1.171892  0.443317

用标签切片，包含行与列结束点：

In [31]:
 df.loc['20200821':'20200823', ['A', 'B']]

                   A         B
2020-08-21  1.269585 -0.794721
2020-08-22 -0.747461  0.057506
2020-08-23 -0.113364  0.525638

返回对象降维：

In [32]:
df.loc['20200821', ['A', 'B']]

A    1.269585
B   -0.794721
Name: 2020-08-21 00:00:00, dtype: float64

提取标量值：

In [33]:
df.loc[dates[0], 'A']

1.2695851631252137

快速访问标量，与上述方法等效：

In [34]:
df.at[dates[0], 'A']

1.2695851631252137

### 4、按位置选择

用整数位置选择：

In [35]:
df.iloc[3]

A    0.218810
B    1.216046
C   -1.189180
D   -0.177003
Name: 2020-08-24 00:00:00, dtype: float64

类似 NumPy / Python，用整数切片：

In [36]:
df.iloc[3:5, 0:2]

                   A         B
2020-08-24  0.218810  1.216046
2020-08-25 -1.381115  0.004240

类似 NumPy / Python，用整数列表按位置切片：

In [37]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2020-08-22 -0.747461 -0.387810
2020-08-23 -0.113364  1.520566
2020-08-25 -1.381115 -0.932394

显式整行切片：

In [38]:
df.iloc[1:3, :]

                   A         B         C         D
2020-08-22 -0.747461  0.057506 -0.387810  0.494737
2020-08-23 -0.113364  0.525638  1.520566 -0.587822

显式整列切片：

In [39]:
 df.iloc[:, 1:3]

                   B         C
2020-08-21 -0.794721  1.675741
2020-08-22  0.057506 -0.387810
2020-08-23  0.525638  1.520566
2020-08-24  1.216046 -1.189180
2020-08-25  0.004240 -0.932394
2020-08-26  0.443317 -1.470521

显式提取值：

In [40]:
df.iloc[1, 1]

0.05750621223605053

快速访问标量，与上述方法等效：

In [41]:
df.iat[1, 1]

0.05750621223605053

## 布尔索引

用单列的值选择数据：

In [42]:
df[df.A > 0]

                   A         B         C         D
2020-08-21  1.269585 -0.794721  1.675741 -1.404604
2020-08-24  0.218810  1.216046 -1.189180 -0.177003

选择 DataFrame 里满足条件的值：

In [43]:
df[df > 0]

                   A         B         C         D
2020-08-21  1.269585       NaN  1.675741       NaN
2020-08-22       NaN  0.057506       NaN  0.494737
2020-08-23       NaN  0.525638  1.520566       NaN
2020-08-24  0.218810  1.216046       NaN       NaN
2020-08-25       NaN  0.004240       NaN       NaN
2020-08-26       NaN  0.443317       NaN       NaN

用 isin() 筛选：

In [45]:
df3 = df.copy()
df3['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df3

                   A         B         C         D      E
2020-08-21  1.269585 -0.794721  1.675741 -1.404604    one
2020-08-22 -0.747461  0.057506 -0.387810  0.494737    one
2020-08-23 -0.113364  0.525638  1.520566 -0.587822    two
2020-08-24  0.218810  1.216046 -1.189180 -0.177003  three
2020-08-25 -1.381115  0.004240 -0.932394 -0.946310   four
2020-08-26 -1.171892  0.443317 -1.470521 -0.914165  three

In [46]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2020-08-23 -0.113364  0.525638  1.520566 -0.587822   two
2020-08-25 -1.381115  0.004240 -0.932394 -0.946310  four

### 赋值

用索引自动对齐新增列的数据：

In [47]:
 s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))

In [48]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [49]:
df['F'] = s1

按标签赋值：

In [50]:
df.at[dates[0], 'A'] = 0

按位置赋值：

In [51]:
df.iat[0, 1] = 0

按 NumPy 数组赋值：

In [52]:
 df.loc[:, 'D'] = np.array([5] * len(df))

In [53]:
df

                   A         B         C  D   F
2020-08-21  0.000000  0.000000  1.675741  5 NaN
2020-08-22 -0.747461  0.057506 -0.387810  5 NaN
2020-08-23 -0.113364  0.525638  1.520566  5 NaN
2020-08-24  0.218810  1.216046 -1.189180  5 NaN
2020-08-25 -1.381115  0.004240 -0.932394  5 NaN
2020-08-26 -1.171892  0.443317 -1.470521  5 NaN

用 where 条件赋值：

In [54]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D   F
2020-08-21  0.000000  0.000000 -1.675741 -5 NaN
2020-08-22 -0.747461 -0.057506 -0.387810 -5 NaN
2020-08-23 -0.113364 -0.525638 -1.520566 -5 NaN
2020-08-24 -0.218810 -1.216046 -1.189180 -5 NaN
2020-08-25 -1.381115 -0.004240 -0.932394 -5 NaN
2020-08-26 -1.171892 -0.443317 -1.470521 -5 NaN

## 缺失值

Pandas 主要用 np.nan 表示缺失数据。 计算时，默认不包含空值。详见缺失数据。

重建索引（reindex）可以更改、添加、删除指定轴的索引，并返回数据副本，即不更改原数据。

In [55]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [56]:
df1.loc[dates[0]:dates[1], 'E'] = 1

In [57]:
df1

                   A         B         C  D   F    E
2020-08-21  0.000000  0.000000  1.675741  5 NaN  1.0
2020-08-22 -0.747461  0.057506 -0.387810  5 NaN  1.0
2020-08-23 -0.113364  0.525638  1.520566  5 NaN  NaN
2020-08-24  0.218810  1.216046 -1.189180  5 NaN  NaN

删除所有含缺失值的行：

In [58]:
df1.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

填充缺失值：

In [59]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2020-08-21  0.000000  0.000000  1.675741  5  5.0  1.0
2020-08-22 -0.747461  0.057506 -0.387810  5  5.0  1.0
2020-08-23 -0.113364  0.525638  1.520566  5  5.0  5.0
2020-08-24  0.218810  1.216046 -1.189180  5  5.0  5.0

提取 nan 值的布尔掩码：

In [60]:
pd.isna(df1)

                A      B      C      D     F      E
2020-08-21  False  False  False  False  True  False
2020-08-22  False  False  False  False  True  False
2020-08-23  False  False  False  False  True   True
2020-08-24  False  False  False  False  True   True

## 运算

### 1、统计

一般情况下，运算时排除缺失值。

描述性统计：

In [61]:
df.mean()

A   -0.532504
B    0.374458
C   -0.130599
D    5.000000
F         NaN
dtype: float64

在另一个轴(即，行)上执行同样的操作：

In [62]:
df.mean(1)

2020-08-21    1.668935
2020-08-22    0.980559
2020-08-23    1.733210
2020-08-24    1.311419
2020-08-25    0.672683
2020-08-26    0.700226
Freq: D, dtype: float64

不同维度对象运算时，要先对齐。 此外，Pandas 自动沿指定维度广播。

In [63]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [64]:
s

2020-08-21    NaN
2020-08-22    NaN
2020-08-23    1.0
2020-08-24    3.0
2020-08-25    5.0
2020-08-26    NaN
Freq: D, dtype: float64

In [65]:
df.sub(s, axis='index')

                   A         B         C    D   F
2020-08-21       NaN       NaN       NaN  NaN NaN
2020-08-22       NaN       NaN       NaN  NaN NaN
2020-08-23 -1.113364 -0.474362  0.520566  4.0 NaN
2020-08-24 -2.781190 -1.783954 -4.189180  2.0 NaN
2020-08-25 -6.381115 -4.995760 -5.932394  0.0 NaN
2020-08-26       NaN       NaN       NaN  NaN NaN

### 2、Apply 函数

Apply 函数处理数据：

In [66]:
df.apply(np.cumsum)

                   A         B         C   D   F
2020-08-21  0.000000  0.000000  1.675741   5 NaN
2020-08-22 -0.747461  0.057506  1.287932  10 NaN
2020-08-23 -0.860826  0.583144  2.808498  15 NaN
2020-08-24 -0.642016  1.799190  1.619318  20 NaN
2020-08-25 -2.023130  1.803430  0.686924  25 NaN
2020-08-26 -3.195022  2.246748 -0.783597  30 NaN

In [67]:
df.apply(lambda x: x.max() - x.min())

A    1.599924
B    1.216046
C    3.146262
D    0.000000
F         NaN
dtype: float64

### 3、直方图

In [68]:
 s = pd.Series(np.random.randint(0, 7, size=10))

In [69]:
s

0    5
1    2
2    1
3    0
4    6
5    0
6    0
7    3
8    5
9    4
dtype: int32

In [70]:
s.value_counts()

0    3
5    2
6    1
4    1
3    1
2    1
1    1
dtype: int64

### 4、字符串方法

Series 的 str 属性包含一组字符串处理功能，如下列代码所示。注意，str 的模式匹配默认使用正则表达式。详见矢量字符串方法。

In [71]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [72]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## 合并（Merge）

### 结合（Concat）

Pandas 提供了多种将 Series、DataFrame 对象组合在一起的功能，用索引与关联代数功能的多种设置逻辑可执行连接（join）与合并（merge）操作。

concat() 用于连接 Pandas 对象：

In [73]:
df = pd.DataFrame(np.random.randn(10, 4))

In [74]:
df

          0         1         2         3
0 -0.008585  1.841857  0.474353  1.610884
1  0.829224  0.306746 -0.014508  0.712964
2 -1.790649 -0.309206 -1.286423  2.370000
3 -0.245805 -3.013489 -0.920793 -0.534856
4  0.121003 -0.104778  0.195443 -0.426337
5 -0.494747 -1.023881 -0.190356 -1.521550
6  1.162839 -0.163103  1.420179  0.250714
7  0.774110 -0.999066 -0.887626  1.157606
8  0.418965  0.027795  0.422747  1.192719
9  0.627068  0.362212 -0.163830 -0.832990

#### 分解为多组

In [75]:
pieces = [df[:3], df[3:7], df[7:]]

In [76]:
pd.concat(pieces)

          0         1         2         3
0 -0.008585  1.841857  0.474353  1.610884
1  0.829224  0.306746 -0.014508  0.712964
2 -1.790649 -0.309206 -1.286423  2.370000
3 -0.245805 -3.013489 -0.920793 -0.534856
4  0.121003 -0.104778  0.195443 -0.426337
5 -0.494747 -1.023881 -0.190356 -1.521550
6  1.162839 -0.163103  1.420179  0.250714
7  0.774110 -0.999066 -0.887626  1.157606
8  0.418965  0.027795  0.422747  1.192719
9  0.627068  0.362212 -0.163830 -0.832990

### 连接（join）

SQL 风格的合并。 详见数据库风格连接。

In [77]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [78]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [79]:
left

   key  lval
0  foo     1
1  foo     2

In [80]:
right

   key  rval
0  foo     4
1  foo     5

In [81]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

这里还有一个例子：

In [82]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

In [83]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [84]:
left

   key  lval
0  foo     1
1  bar     2

In [85]:
right

   key  rval
0  foo     4
1  bar     5

In [86]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

### 追加（Append）

为 DataFrame 追加行。详见追加文档。

In [87]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])