# 入门Pandas

In [1]:
import numpy as np
import pandas as pd

## 生成对象

1、用值列表生成 Series 时，Pandas 默认自动生成整数索引：

In [2]:
s = pd.Series([1,2,4,5,np.nan,6,8])

In [3]:
s

0    1.0
1    2.0
2    4.0
3    5.0
4    NaN
5    6.0
6    8.0
dtype: float64

2、用含日期时间索引与标签的 NumPy 数组生成 DataFrame：

In [4]:
dates = pd.date_range('2020-8-21',periods=6)

In [5]:
dates

DatetimeIndex(['2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24',
               '2020-08-25', '2020-08-26'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2020-08-21  1.657473 -0.478072  0.255951 -0.147546
2020-08-22 -1.574896  0.463088  0.152052 -0.333828
2020-08-23  1.044053  0.800551  0.740885  1.393227
2020-08-24 -0.773217  1.049685  0.340855  0.197253
2020-08-25 -0.807712 -1.077793  0.378641  1.028137
2020-08-26  0.044040 -0.983407 -0.498731  1.339637

### 3、用 Series 字典对象生成 DataFrame:

In [8]:
df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20200821'),
                    'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D':np.array([3] * 4, dtype='int32'),
                    'E':pd.Categorical(["test", "train", "test", "train"]),
                    'F':'foo'})

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2020-08-21  1.0  3   test  foo
1  1.0 2020-08-21  1.0  3  train  foo
2  1.0 2020-08-21  1.0  3   test  foo
3  1.0 2020-08-21  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## 查看数据

下列代码说明如何查看 DataFrame 头部和尾部数据

In [11]:
df2.head()

     A          B    C  D      E    F
0  1.0 2020-08-21  1.0  3   test  foo
1  1.0 2020-08-21  1.0  3  train  foo
2  1.0 2020-08-21  1.0  3   test  foo
3  1.0 2020-08-21  1.0  3  train  foo

In [12]:
df.tail(3)

                   A         B         C         D
2020-08-24 -0.773217  1.049685  0.340855  0.197253
2020-08-25 -0.807712 -1.077793  0.378641  1.028137
2020-08-26  0.044040 -0.983407 -0.498731  1.339637

显示索引与列名：

In [13]:
df.index

DatetimeIndex(['2020-08-21', '2020-08-22', '2020-08-23', '2020-08-24',
               '2020-08-25', '2020-08-26'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

DataFrame.to_numpy() 输出底层数据的 NumPy 对象。注意，DataFrame 的列由多种数据类型组成时，该操作耗费系统资源较大，这也是 Pandas 和 NumPy 的本质区别：NumPy 数组只有一种数据类型，DataFrame 每列的数据类型各不相同。调用 DataFrame.to_numpy() 时，Pandas 查找支持 DataFrame 里所有数据类型的 NumPy 数据类型。还有一种数据类型是 object，可以把 DataFrame 列里的值强制转换为 Python 对象。

下面的 df 这个 DataFrame 里的值都是浮点数，DataFrame.to_numpy() 的操作会很快，而且不复制数据。

In [17]:
 df.to_numpy()

array([[ 1.65747284, -0.47807246,  0.2559508 , -0.14754608],
       [-1.57489601,  0.46308785,  0.15205217, -0.33382813],
       [ 1.04405329,  0.80055061,  0.74088514,  1.3932273 ],
       [-0.77321674,  1.04968513,  0.34085531,  0.1972528 ],
       [-0.80771183, -1.07779285,  0.37864069,  1.02813715],
       [ 0.0440404 , -0.98340653, -0.49873054,  1.33963674]])

df2 这个 DataFrame 包含了多种类型，DataFrame.to_numpy() 操作就会耗费较多资源。

In [18]:
df2.to_numpy()

array([[1.0, Timestamp('2020-08-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-08-21 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-08-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-08-21 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

> 提醒  
> DataFrame.to_numpy() 的输出不包含行索引和列标签。

describe() 可以快速查看数据的统计摘要：

In [19]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.068376 -0.037658  0.228276  0.579480
std    1.228146  0.928002  0.408207  0.768129
min   -1.574896 -1.077793 -0.498731 -0.333828
25%   -0.799088 -0.857073  0.178027 -0.061346
50%   -0.364588 -0.007492  0.298403  0.612695
75%    0.794050  0.716185  0.369194  1.261762
max    1.657473  1.049685  0.740885  1.393227

In [20]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

转置数据：

In [21]:
df.T

   2020-08-21  2020-08-22  2020-08-23  2020-08-24  2020-08-25  2020-08-26
A    1.657473   -1.574896    1.044053   -0.773217   -0.807712    0.044040
B   -0.478072    0.463088    0.800551    1.049685   -1.077793   -0.983407
C    0.255951    0.152052    0.740885    0.340855    0.378641   -0.498731
D   -0.147546   -0.333828    1.393227    0.197253    1.028137    1.339637

In [22]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2020-08-21 00:00:00,2020-08-21 00:00:00,2020-08-21 00:00:00,2020-08-21 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

按轴排序：

In [23]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-08-21 -0.147546  0.255951 -0.478072  1.657473
2020-08-22 -0.333828  0.152052  0.463088 -1.574896
2020-08-23  1.393227  0.740885  0.800551  1.044053
2020-08-24  0.197253  0.340855  1.049685 -0.773217
2020-08-25  1.028137  0.378641 -1.077793 -0.807712
2020-08-26  1.339637 -0.498731 -0.983407  0.044040

按值排序：

In [24]:
df.sort_values(by='B')

                   A         B         C         D
2020-08-25 -0.807712 -1.077793  0.378641  1.028137
2020-08-26  0.044040 -0.983407 -0.498731  1.339637
2020-08-21  1.657473 -0.478072  0.255951 -0.147546
2020-08-22 -1.574896  0.463088  0.152052 -0.333828
2020-08-23  1.044053  0.800551  0.740885  1.393227
2020-08-24 -0.773217  1.049685  0.340855  0.197253

## 选择

> 提醒

> 选择、设置标准 Python / Numpy 的表达式已经非常直观，交互也很方便，  
但对于生产代码，我们还是推荐优化过的 Pandas 数据访问方法：.at、.iat、.loc 和 .iloc

### 1、 获取数据

选择单列，产生 Series，与 df.A 等效：

In [25]:
df['A']

2020-08-21    1.657473
2020-08-22   -1.574896
2020-08-23    1.044053
2020-08-24   -0.773217
2020-08-25   -0.807712
2020-08-26    0.044040
Freq: D, Name: A, dtype: float64

### 2、用 [ ] 切片行：

In [26]:
df[0:3]

                   A         B         C         D
2020-08-21  1.657473 -0.478072  0.255951 -0.147546
2020-08-22 -1.574896  0.463088  0.152052 -0.333828
2020-08-23  1.044053  0.800551  0.740885  1.393227

In [27]:
 df['20200821':'20200823']

                   A         B         C         D
2020-08-21  1.657473 -0.478072  0.255951 -0.147546
2020-08-22 -1.574896  0.463088  0.152052 -0.333828
2020-08-23  1.044053  0.800551  0.740885  1.393227

### 3、按标签选择

用标签提取一行数据：

In [28]:
df.loc[dates[0]]

A    1.657473
B   -0.478072
C    0.255951
D   -0.147546
Name: 2020-08-21 00:00:00, dtype: float64

用标签选择多列数据：

In [29]:
df.loc[:, ['A', 'B']]

                   A         B
2020-08-21  1.657473 -0.478072
2020-08-22 -1.574896  0.463088
2020-08-23  1.044053  0.800551
2020-08-24 -0.773217  1.049685
2020-08-25 -0.807712 -1.077793
2020-08-26  0.044040 -0.983407

用标签切片，包含行与列结束点：

In [30]:
 df.loc['20200821':'20200823', ['A', 'B']]

                   A         B
2020-08-21  1.657473 -0.478072
2020-08-22 -1.574896  0.463088
2020-08-23  1.044053  0.800551

返回对象降维：

In [31]:
df.loc['20200821', ['A', 'B']]

A    1.657473
B   -0.478072
Name: 2020-08-21 00:00:00, dtype: float64

提取标量值：

In [32]:
df.loc[dates[0], 'A']

1.6574728361593838

快速访问标量，与上述方法等效：

In [33]:
df.at[dates[0], 'A']

1.6574728361593838

### 4、按位置选择

用整数位置选择：

In [34]:
df.iloc[3]

A   -0.773217
B    1.049685
C    0.340855
D    0.197253
Name: 2020-08-24 00:00:00, dtype: float64

类似 NumPy / Python，用整数切片：

In [35]:
df.iloc[3:5, 0:2]

                   A         B
2020-08-24 -0.773217  1.049685
2020-08-25 -0.807712 -1.077793

类似 NumPy / Python，用整数列表按位置切片：

In [36]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2020-08-22 -1.574896  0.152052
2020-08-23  1.044053  0.740885
2020-08-25 -0.807712  0.378641

显式整行切片：

In [37]:
df.iloc[1:3, :]

                   A         B         C         D
2020-08-22 -1.574896  0.463088  0.152052 -0.333828
2020-08-23  1.044053  0.800551  0.740885  1.393227

显式整列切片：

In [38]:
 df.iloc[:, 1:3]

                   B         C
2020-08-21 -0.478072  0.255951
2020-08-22  0.463088  0.152052
2020-08-23  0.800551  0.740885
2020-08-24  1.049685  0.340855
2020-08-25 -1.077793  0.378641
2020-08-26 -0.983407 -0.498731

显式提取值：

In [39]:
df.iloc[1, 1]

0.463087845937422

快速访问标量，与上述方法等效：

In [40]:
df.iat[1, 1]

0.463087845937422

## 布尔索引

用单列的值选择数据：

In [41]:
df[df.A > 0]

                   A         B         C         D
2020-08-21  1.657473 -0.478072  0.255951 -0.147546
2020-08-23  1.044053  0.800551  0.740885  1.393227
2020-08-26  0.044040 -0.983407 -0.498731  1.339637

选择 DataFrame 里满足条件的值：

In [42]:
df[df > 0]

                   A         B         C         D
2020-08-21  1.657473       NaN  0.255951       NaN
2020-08-22       NaN  0.463088  0.152052       NaN
2020-08-23  1.044053  0.800551  0.740885  1.393227
2020-08-24       NaN  1.049685  0.340855  0.197253
2020-08-25       NaN       NaN  0.378641  1.028137
2020-08-26  0.044040       NaN       NaN  1.339637

用 isin() 筛选：

In [43]:
df3 = df.copy()
df3['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df3

                   A         B         C         D      E
2020-08-21  1.657473 -0.478072  0.255951 -0.147546    one
2020-08-22 -1.574896  0.463088  0.152052 -0.333828    one
2020-08-23  1.044053  0.800551  0.740885  1.393227    two
2020-08-24 -0.773217  1.049685  0.340855  0.197253  three
2020-08-25 -0.807712 -1.077793  0.378641  1.028137   four
2020-08-26  0.044040 -0.983407 -0.498731  1.339637  three

In [44]:
df2[df2['E'].isin(['two', 'four'])]

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

### 赋值

用索引自动对齐新增列的数据：

In [45]:
 s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))

In [46]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [47]:
df['F'] = s1

按标签赋值：

In [48]:
df.at[dates[0], 'A'] = 0

按位置赋值：

In [49]:
df.iat[0, 1] = 0

按 NumPy 数组赋值：

In [50]:
 df.loc[:, 'D'] = np.array([5] * len(df))

In [51]:
df

                   A         B         C  D   F
2020-08-21  0.000000  0.000000  0.255951  5 NaN
2020-08-22 -1.574896  0.463088  0.152052  5 NaN
2020-08-23  1.044053  0.800551  0.740885  5 NaN
2020-08-24 -0.773217  1.049685  0.340855  5 NaN
2020-08-25 -0.807712 -1.077793  0.378641  5 NaN
2020-08-26  0.044040 -0.983407 -0.498731  5 NaN

用 where 条件赋值：

In [52]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D   F
2020-08-21  0.000000  0.000000 -0.255951 -5 NaN
2020-08-22 -1.574896 -0.463088 -0.152052 -5 NaN
2020-08-23 -1.044053 -0.800551 -0.740885 -5 NaN
2020-08-24 -0.773217 -1.049685 -0.340855 -5 NaN
2020-08-25 -0.807712 -1.077793 -0.378641 -5 NaN
2020-08-26 -0.044040 -0.983407 -0.498731 -5 NaN

## 缺失值

Pandas 主要用 np.nan 表示缺失数据。 计算时，默认不包含空值。详见缺失数据。

重建索引（reindex）可以更改、添加、删除指定轴的索引，并返回数据副本，即不更改原数据。

In [53]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [54]:
df1.loc[dates[0]:dates[1], 'E'] = 1

In [55]:
df1

                   A         B         C  D   F    E
2020-08-21  0.000000  0.000000  0.255951  5 NaN  1.0
2020-08-22 -1.574896  0.463088  0.152052  5 NaN  1.0
2020-08-23  1.044053  0.800551  0.740885  5 NaN  NaN
2020-08-24 -0.773217  1.049685  0.340855  5 NaN  NaN

删除所有含缺失值的行：

In [56]:
df1.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

填充缺失值：

In [57]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2020-08-21  0.000000  0.000000  0.255951  5  5.0  1.0
2020-08-22 -1.574896  0.463088  0.152052  5  5.0  1.0
2020-08-23  1.044053  0.800551  0.740885  5  5.0  5.0
2020-08-24 -0.773217  1.049685  0.340855  5  5.0  5.0

提取 nan 值的布尔掩码：

In [58]:
pd.isna(df1)

                A      B      C      D     F      E
2020-08-21  False  False  False  False  True  False
2020-08-22  False  False  False  False  True  False
2020-08-23  False  False  False  False  True   True
2020-08-24  False  False  False  False  True   True

## 运算

### 1、统计

一般情况下，运算时排除缺失值。

描述性统计：

In [59]:
df.mean()

A   -0.344622
B    0.042021
C    0.228276
D    5.000000
F         NaN
dtype: float64

在另一个轴(即，行)上执行同样的操作：

In [60]:
df.mean(1)

2020-08-21    1.313988
2020-08-22    1.010061
2020-08-23    1.896372
2020-08-24    1.404331
2020-08-25    0.873284
2020-08-26    0.890476
Freq: D, dtype: float64

不同维度对象运算时，要先对齐。 此外，Pandas 自动沿指定维度广播。

In [61]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [62]:
s

2020-08-21    NaN
2020-08-22    NaN
2020-08-23    1.0
2020-08-24    3.0
2020-08-25    5.0
2020-08-26    NaN
Freq: D, dtype: float64

In [63]:
df.sub(s, axis='index')

                   A         B         C    D   F
2020-08-21       NaN       NaN       NaN  NaN NaN
2020-08-22       NaN       NaN       NaN  NaN NaN
2020-08-23  0.044053 -0.199449 -0.259115  4.0 NaN
2020-08-24 -3.773217 -1.950315 -2.659145  2.0 NaN
2020-08-25 -5.807712 -6.077793 -4.621359  0.0 NaN
2020-08-26       NaN       NaN       NaN  NaN NaN

### 2、Apply 函数

Apply 函数处理数据：

In [64]:
df.apply(np.cumsum)

                   A         B         C   D   F
2020-08-21  0.000000  0.000000  0.255951   5 NaN
2020-08-22 -1.574896  0.463088  0.408003  10 NaN
2020-08-23 -0.530843  1.263638  1.148888  15 NaN
2020-08-24 -1.304059  2.313324  1.489743  20 NaN
2020-08-25 -2.111771  1.235531  1.868384  25 NaN
2020-08-26 -2.067731  0.252124  1.369654  30 NaN

In [65]:
df.apply(lambda x: x.max() - x.min())

A    2.618949
B    2.127478
C    1.239616
D    0.000000
F         NaN
dtype: float64

### 3、直方图

In [66]:
 s = pd.Series(np.random.randint(0, 7, size=10))

In [67]:
s

0    0
1    4
2    3
3    5
4    6
5    0
6    1
7    5
8    0
9    1
dtype: int32

In [68]:
s.value_counts()

0    3
5    2
1    2
6    1
4    1
3    1
dtype: int64

### 4、字符串方法

Series 的 str 属性包含一组字符串处理功能，如下列代码所示。注意，str 的模式匹配默认使用正则表达式。详见矢量字符串方法。

In [69]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [70]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## 合并（Merge）

### 结合（Concat）

Pandas 提供了多种将 Series、DataFrame 对象组合在一起的功能，用索引与关联代数功能的多种设置逻辑可执行连接（join）与合并（merge）操作。

concat() 用于连接 Pandas 对象：

In [71]:
df = pd.DataFrame(np.random.randn(10, 4))

In [72]:
df

          0         1         2         3
0  0.851833 -1.433647  1.518176  1.663291
1 -0.638718  0.750959 -1.221341  0.786939
2 -0.043473 -0.061742 -0.368386  0.031771
3  1.124716 -0.578040  0.782316  1.559020
4 -0.895399  0.804942  1.469582 -0.330877
5  1.464662  0.564933 -0.315977 -0.313423
6  0.334328  0.297260  0.934131  0.935425
7  1.150577 -0.875208  0.426836 -0.009538
8 -0.836300 -0.607094  1.723998 -0.681340
9 -0.579436 -0.402422 -1.637631 -0.074412

#### 分解为多组

In [73]:
pieces = [df[:3], df[3:7], df[7:]]

In [74]:
pd.concat(pieces)

          0         1         2         3
0  0.851833 -1.433647  1.518176  1.663291
1 -0.638718  0.750959 -1.221341  0.786939
2 -0.043473 -0.061742 -0.368386  0.031771
3  1.124716 -0.578040  0.782316  1.559020
4 -0.895399  0.804942  1.469582 -0.330877
5  1.464662  0.564933 -0.315977 -0.313423
6  0.334328  0.297260  0.934131  0.935425
7  1.150577 -0.875208  0.426836 -0.009538
8 -0.836300 -0.607094  1.723998 -0.681340
9 -0.579436 -0.402422 -1.637631 -0.074412

### 连接（join）

SQL 风格的合并。 详见数据库风格连接。

In [75]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [76]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [77]:
left

   key  lval
0  foo     1
1  foo     2

In [78]:
right

   key  rval
0  foo     4
1  foo     5

In [79]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

这里还有一个例子：

In [80]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

In [81]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [82]:
left

   key  lval
0  foo     1
1  bar     2

In [83]:
right

   key  rval
0  foo     4
1  bar     5

In [84]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

### 追加（Append）

为 DataFrame 追加行。详见追加文档。

In [85]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])

In [86]:
df

          A         B         C         D
0 -1.579762  0.280392  2.652285 -0.720076
1  0.058382  0.711714  0.832063 -1.364386
2 -0.831362 -2.051529 -1.016887 -0.910669
3 -0.635969  0.309783 -0.102892 -0.526259
4  0.505753  0.471403  0.111929  1.026497
5 -1.206282 -0.839035 -1.207011 -0.577554
6  1.293392  0.006057 -1.510554  0.582646
7  1.956175 -1.500190 -0.511756  1.574498

In [87]:
 s = df.iloc[3]

In [88]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -1.579762  0.280392  2.652285 -0.720076
1  0.058382  0.711714  0.832063 -1.364386
2 -0.831362 -2.051529 -1.016887 -0.910669
3 -0.635969  0.309783 -0.102892 -0.526259
4  0.505753  0.471403  0.111929  1.026497
5 -1.206282 -0.839035 -1.207011 -0.577554
6  1.293392  0.006057 -1.510554  0.582646
7  1.956175 -1.500190 -0.511756  1.574498
8 -0.635969  0.309783 -0.102892 -0.526259

## 分组（Grouping）

“group by” 指的是涵盖下列一项或多项步骤的处理流程：  

- 分割：按条件把数据分割成多组；  
- 应用：为每组单独应用函数；  
- 组合：将处理结果组合成一个数据结构。

In [89]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 
                         'foo', 'bar', 'foo', 'foo'], 
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8), 
                   'D': np.random.randn(8)})

In [90]:
df

     A      B         C         D
0  foo    one  2.628570 -0.023074
1  bar    one -0.704145  0.631758
2  foo    two -0.998963  0.817127
3  bar  three -0.404903 -0.207020
4  foo    two -2.215204 -1.860613
5  bar    two -1.509465 -2.791494
6  foo    one  1.848957  1.060089
7  foo  three -0.747452  0.485766

先分组，再用 sum()函数计算每组的汇总数据：

In [91]:
df.groupby('A').sum()

            C         D
A
bar -2.618514 -2.366755
foo  0.515908  0.479295

多列分组后，生成多层索引，也可以应用 sum 函数：

In [92]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -0.704145  0.631758
    three -0.404903 -0.207020
    two   -1.509465 -2.791494
foo one    4.477527  1.037015
    three -0.747452  0.485766
    two   -3.214167 -1.043487

## 重塑（Reshaping）

### 堆叠（Stack）

In [93]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

In [94]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [95]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [96]:
df2 = df[:4]

In [97]:
df2

                     A         B
first second
bar   one     0.906549  0.574182
      two    -1.392097  0.356159
baz   one     0.526558 -0.941954
      two     1.943669  1.073621

stack()方法把 DataFrame 列压缩至一层：

In [98]:
stacked = df2.stack()

In [99]:
stacked

first  second
bar    one     A    0.906549
               B    0.574182
       two     A   -1.392097
               B    0.356159
baz    one     A    0.526558
               B   -0.941954
       two     A    1.943669
               B    1.073621
dtype: float64

压缩后的 DataFrame 或 Series 具有多层索引， stack() 的逆操作是 unstack()，默认为拆叠最后一层：

In [100]:
stacked.unstack()

                     A         B
first second
bar   one     0.906549  0.574182
      two    -1.392097  0.356159
baz   one     0.526558 -0.941954
      two     1.943669  1.073621

In [101]:
stacked.unstack(1)

second        one       two
first
bar   A  0.906549 -1.392097
      B  0.574182  0.356159
baz   A  0.526558  1.943669
      B -0.941954  1.073621

In [102]:
stacked.unstack(0)

first          bar       baz
second
one    A  0.906549  0.526558
       B  0.574182 -0.941954
two    A -1.392097  1.943669
       B  0.356159  1.073621

## 数据透视表（Pivot Tables）

In [103]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3, 
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})

In [104]:
df

        A  B    C         D         E
0     one  A  foo  0.735177  1.478891
1     one  B  foo  2.055938 -0.717745
2     two  C  foo  0.771911  0.143217
3   three  A  bar  0.146743 -0.937903
4     one  B  bar  0.144318  0.030697
5     one  C  bar -0.450005  0.113436
6     two  A  foo -0.324335  1.513323
7   three  B  foo  0.713457  0.613804
8     one  C  foo -2.080557  0.949084
9     one  A  bar -0.853939  1.653106
10    two  B  bar -0.102502  0.811439
11  three  C  bar  1.351489 -0.685939

用上述数据生成数据透视表非常简单：

In [105]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A -0.853939  0.735177
      B  0.144318  2.055938
      C -0.450005 -2.080557
three A  0.146743       NaN
      B       NaN  0.713457
      C  1.351489       NaN
two   A       NaN -0.324335
      B -0.102502       NaN
      C       NaN  0.771911

## 时间序列(TimeSeries)

Pandas 为频率转换时重采样提供了虽然简单易用，但强大高效的功能，如，将秒级的数据转换为 5 分钟为频率的数据。这种操作常见于财务应用程序，但又不仅限于此。详见时间序列。

In [106]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')

In [107]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [108]:
ts.resample('5Min').sum()

2012-01-01    26160
Freq: 5T, dtype: int32

时区表示：

In [109]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')

In [110]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [111]:
ts

2012-03-06   -1.503738
2012-03-07   -0.756012
2012-03-08   -0.637188
2012-03-09    0.377307
2012-03-10   -0.182347
Freq: D, dtype: float64

In [112]:
 ts_utc = ts.tz_localize('UTC')

In [113]:
ts_utc

2012-03-06 00:00:00+00:00   -1.503738
2012-03-07 00:00:00+00:00   -0.756012
2012-03-08 00:00:00+00:00   -0.637188
2012-03-09 00:00:00+00:00    0.377307
2012-03-10 00:00:00+00:00   -0.182347
Freq: D, dtype: float64

转换成其它时区：

In [114]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00   -1.503738
2012-03-06 19:00:00-05:00   -0.756012
2012-03-07 19:00:00-05:00   -0.637188
2012-03-08 19:00:00-05:00    0.377307
2012-03-09 19:00:00-05:00   -0.182347
Freq: D, dtype: float64

转换时间段：

In [115]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

In [116]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [117]:
ts

2012-01-31    0.903319
2012-02-29    0.674037
2012-03-31   -0.109950
2012-04-30   -0.682412
2012-05-31    0.395413
Freq: M, dtype: float64

In [118]:
ps = ts.to_period()

In [119]:
ps

2012-01    0.903319
2012-02    0.674037
2012-03   -0.109950
2012-04   -0.682412
2012-05    0.395413
Freq: M, dtype: float64

In [120]:
ps.to_timestamp()

2012-01-01    0.903319
2012-02-01    0.674037
2012-03-01   -0.109950
2012-04-01   -0.682412
2012-05-01    0.395413
Freq: MS, dtype: float64

Pandas 函数可以很方便地转换时间段与时间戳。下例把以 11 月为结束年份的季度频率转换为下一季度月末上午 9 点：

In [121]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [122]:
ts = pd.Series(np.random.randn(len(prng)), prng)

In [123]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9

In [124]:
ts.head()

1990-03-01 09:00   -1.049187
1990-06-01 09:00   -0.765448
1990-09-01 09:00   -0.081671
1990-12-01 09:00    0.541976
1991-03-01 09:00   -0.536343
Freq: H, dtype: float64

## 类别型（Categoricals）

Pandas 的 DataFrame 里可以包含类别数据。完整文档详见类别简介 和 API 文档。

In [125]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6], "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})

将 grade 的原生数据转换为类别型数据：

In [126]:
df["grade"] = df["raw_grade"].astype("category")

In [127]:
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

用有含义的名字重命名不同类型，调用 Series.cat.categories。

In [128]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

重新排序各类别，并添加缺失类，Series.cat 的方法默认返回新 Series。

In [129]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])

In [130]:
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

注意，这里是按生成类别时的顺序排序，不是按词汇排序：

df.sort_values(by="grade")

按类列分组（groupby）时，即便某类别为空，也会显示：

In [131]:
df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64