# DataFrame

In [1]:
import pandas as pd
import numpy as np

In [3]:
d = {"one":pd.Series([1.0,2.0,3.0],index=["a","b","c"]),"two":pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"])}

In [6]:
df = pd.DataFrame(d)

In [7]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [8]:
pd.DataFrame(d, index=["d","b","a"])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [9]:
pd.DataFrame(d, index=["d","b","a"],columns=["two","three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [10]:
pd.DataFrame(d, index=["d","b","a"],columns=["one","two","three"])

   one  two three
d  NaN  4.0   NaN
b  2.0  2.0   NaN
a  1.0  1.0   NaN

In [11]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
df.columns

Index(['one', 'two'], dtype='object')

## From dict of ndarrays / listsÂ¶

In [13]:
d = {"one":[1.0,2.0,3.0,4.0],"two":[4.0,3.0,2.0,1.0]}

In [14]:
df = pd.DataFrame(d)

In [15]:
df

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [ ]:
pd.DataFrame(d, index=["a","b","c",""])