# Essential basic functionality

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
index = pd.date_range("1/1/2000", periods=8)

In [9]:
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [12]:
index2 = pd.date_range("1/1/2000", periods=8,freq='M')

In [13]:
index2

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31'],
              dtype='datetime64[ns]', freq='M')

In [18]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [19]:
s

a   -0.605918
b    1.006256
c    0.397268
d    1.754452
e    0.983428
dtype: float64

In [15]:
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

In [20]:
df

                   A         B         C
2000-01-01 -0.547248  0.818705  1.126855
2000-01-02 -0.599163  0.711461 -1.343652
2000-01-03  2.149195 -0.042165 -0.264551
2000-01-04  0.371232  0.097317 -1.443935
2000-01-05  0.303712 -1.043812 -1.241518
2000-01-06 -1.014341  2.431736  0.482275
2000-01-07  0.012789 -1.311591 -0.306733
2000-01-08  1.236201 -0.491117 -2.407042

In [16]:
long_series = pd.Series(np.random.randn(1000))

In [17]:
long_series.head()

0    1.539328
1   -0.336999
2   -0.641272
3    0.502665
4   -1.359357
dtype: float64