# DataFrame

In [1]:
import pandas as pd
import numpy as np

In [3]:
d = {"one":pd.Series([1.0,2.0,3.0],index=["a","b","c"]),"two":pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"])}

In [6]:
df = pd.DataFrame(d)

In [7]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [8]:
pd.DataFrame(d, index=["d","b","a"])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [9]:
pd.DataFrame(d, index=["d","b","a"],columns=["two","three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [10]:
pd.DataFrame(d, index=["d","b","a"],columns=["one","two","three"])

   one  two three
d  NaN  4.0   NaN
b  2.0  2.0   NaN
a  1.0  1.0   NaN

In [11]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
df.columns

Index(['one', 'two'], dtype='object')

## From dict of ndarrays / lists

In [13]:
d = {"one":[1.0,2.0,3.0,4.0],"two":[4.0,3.0,2.0,1.0]}

In [14]:
df = pd.DataFrame(d)

In [15]:
df

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [16]:
pd.DataFrame(d, index=["a","b","c","d"])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

## From structured or record array

In [17]:
data = np.zeros((2,), dtype=[("A", "i4"), ("B", "f4"), ("C", "a10")])

In [18]:
data

array([(0, 0., b''), (0, 0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [19]:
data[:] = [(1, 2.0, "Hello"), (2, 3.0, "World")]

In [20]:
data

array([(1, 2., b'Hello'), (2, 3., b'World')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [21]:
df = pd.DataFrame(data)

In [22]:
df

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [23]:
pd.DataFrame(data, index=["first","second"])

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [24]:
pd.DataFrame(data, columns=["C", "A", "B"])

          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

## From a list of dicts

In [25]:
data2 = [{"a":1,"b":2},{"a":5,"b":10,"c":20}]

In [26]:
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [27]:
pd.DataFrame(data2,index=["first","second"])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [28]:
pd.DataFrame(data2, columns=["a","b"])

   a   b
0  1   2
1  5  10