# 切割

用布尔条件切割 DataFrame

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'AAA': [4, 5, 6, 7],
                   'BBB': [10, 20, 30, 40],
                   'CCC': [100, 50, -30, -50]})

In [4]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [5]:
df[df.AAA <= 5]

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [6]:
df[df.AAA > 5]

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50