# 设置条件

In [3]:
import numpy as np
import pandas as pd

多列条件选择

In [4]:
df = pd.DataFrame({'AAA': [4, 5, 6, 7],
                   'BBB': [10, 20, 30, 40],
                   'CCC': [100, 50, -30, -50]})

In [5]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

和（&），不赋值，直接返回 Series：

In [6]:
df.loc[(df['BBB'] < 25) & (df['CCC'] >= -40), 'AAA']

0    4
1    5
Name: AAA, dtype: int64

或（|），不赋值，直接返回 Series：

In [7]:
 df.loc[(df['BBB'] > 25) | (df['CCC'] >= -40), 'AAA']

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

或（|），赋值，修改 DataFrame：

In [8]:
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA'] = 0.1

In [9]:
df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

用 argsort 选择最接近指定值的行

In [10]:
 df = pd.DataFrame({'AAA': [4, 5, 6, 7],
                    'BBB': [10, 20, 30, 40],
                    'CCC': [100, 50, -30, -50]})

In [11]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [12]:
aValue = 43.0

In [13]:
df.loc[(df.CCC - aValue).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

用二进制运算符动态减少条件列表

In [14]:
df = pd.DataFrame({'AAA': [4, 5, 6, 7],
                   'BBB': [10, 20, 30, 40],
                   'CCC': [100, 50, -30, -50]})

In [15]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [16]:
Crit1 = df.AAA <= 5.5

In [17]:
Crit2 = df.BBB == 10.0

In [18]:
Crit3 = df.CCC > -40.0

硬编码方式为：

In [19]:
AllCrit = Crit1 & Crit2 & Crit3

生成动态条件列表：

In [20]:
import functools

In [21]:
CritList = [Crit1, Crit2, Crit3]

In [22]:
AllCrit = functools.reduce(lambda x, y: x & y, CritList)

In [23]:
df[AllCrit]

   AAA  BBB  CCC
0    4   10  100