# 惯用语

对一列数据执行 if-then / if-then-else 操作，把计算结果赋值给一列或多列：

In [5]:
import pandas as pd
import numpy as np

In [6]:
 df = pd.DataFrame({'AAA': [4, 5, 6, 7],
                    'BBB': [10, 20, 30, 40],
                    'CCC': [100, 50, -30, -50]})

In [7]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

if-then…

在一列上执行 if-then 操作：

In [12]:
df.loc[df.AAA >= 5, 'BBB'] = -1

In [13]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

在两列上执行 if-then 操作：

In [14]:
df.loc[df.AAA >= 5, ['BBB', 'CCC']] = 555

In [15]:
df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

再添加一行代码，执行 -else 操作：

In [16]:
df.loc[df.AAA < 5, ['BBB', 'CCC']] = 2000

In [17]:
df

   AAA   BBB   CCC
0    4  2000  2000
1    5   555   555
2    6   555   555
3    7   555   555

或用 Pandas 的 where 设置掩码（mask）：

In [18]:
df_mask = pd.DataFrame({'AAA': [True] * 4,
                        'BBB': [False] * 4,
                        'CCC': [True, False] * 2})

In [19]:
df.where(df_mask, -1000)

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000